@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://fonts.googleapis.com/css?family=Do+Hyeon&amp;subset=korean);

body { background:#fff;font-family:"gulim", sans-serif;font-size:12px;color:#5b5b5b;line-height:100%;font-weight:normal;padding:0px;margin:0px;letter-spacing:-0px; }
html, body { width:100%;height:100%;letter-spacing:0px; }
div, p, ul, li, table, th, td, textarea, input, span, form, h1, h2, h3, h4, h5, h6, dt, dl, dd, em, sup {padding:0px;margin:0px;}
ul, ol, dl, dd, dt, li { list-style-type:none;margin:0;padding:0px;line-height:100%;font-size:12px;color:#5b5b5b;letter-spacing:0px; }
form, fieldset, p {margin:0;padding:0;border:0;}
img {border:0;vertical-align:middle;outline:none;}


a,a:link,a:visited,a:active{color:#575757;letter-spacing:normal;text-decoration:none;letter-spacing:-0.8px;}
a:hover{color:#575757;text-decoration:underline;}

.clearfix::after{content:""; display:block; clear:both;}
#logo,nav,nav li,#sns li,#sub_wrap li,.con li{float:left;}
#sns{float:right;}

#wrap{width:100%;}
#margin_wrap{width:1080px;
			margin:0 auto;}

/* header */
header{width:1080px;
		height:60px;
		background-color:#fff;
		position:fixed;
		z-index:1;}

#logo{width:180px;
		height:20px;
		position:relative;
		top:20px;}

nav{width:40%;
	margin-top:20px;
	margin-left:5%;}
nav li{width:25%;
		line-height:20px;
		text-align:center;}
/* header */

/* ad_wrap */
#ad_wrap{text-align:center;}
#ad_wrap img{width:100%;
				margin-top:60px;}

#ad_1{display:block;
		margin-top:20px;}
#ad_1 p{font-size:15px;
		line-height:30px;}
#ad_1 span{font-size:40px;
			line-height:60px;}
/* ad_wrap */

/* sub_wrap */
#sub_wrap{margin-top:40px;}
#sub_wrap li{width:49%;
			height:230px;
			margin-left:2%;
			margin-top:2%;}
#sub_wrap li:nth-child(2n+1){margin-left:0;}

#sub_wrap li:nth-child(1){background-image:url("../img/ad/1.jpg");}
#sub_wrap li:nth-child(2){background-image:url("../img/ad/2.jpg");}
#sub_wrap li:nth-child(3){background-image:url("../img/ad/3.jpg");}
#sub_wrap li:nth-child(4){background-image:url("../img/ad/4.jpg");}

.back{background:rgba(0,0,0,0.2);}
.sub_box{display:block;
		height:230px;}
.sub_box p{color:#fff;
			font-size:30px;
			line-height:40px;
			position:relative;
			top:120px;
			left:30px;}
/* sub_wrap */

/* content */
.con_wrap{margin-top:70px;}
.con_title h3{font-size:40px;
			line-height:60px;}
.con li{width:24.25%;
		margin-left:1%;
		margin-top:1%;}
.con li:nth-child(4n+1){margin-left:0;}
.con li img{width:100%;}

.text_box{display:block;
			margin-top:10px;}
.text_box h4{font-size:15px;
			line-height:30px;}
.text_box span{font-size:15px;
				line-height:30px;
				color:red;}

.con_img{height:280px;
		display:block;
		background-image:url("../img/ad/5.jpg");}
.con_img h3{width:300px;
			color:#fff;
			font-size:30px;
			line-height:40px;
			position:relative;
			top:50px;
			left:30px;}
/* content */

/* footer */
footer{
	height:100px;
	text-align: center;
	color: #575757;
	line-height:100px;
	background-color:#fff;
}
/* footer */




